CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.DS_Store
.cache

vcpkg_installed/

.vs/
out/

# Preserve the build folder but not the contents
build/*
!build/.gitkeep

# Preserve binary folder but not the contents
bin/*
!bin/.gitkeep
